In [1]:
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as n
import pandas as p
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [2]:
df=p.read_csv("G://programs//wine.csv")

In [3]:
print(len(df.columns))

14

In [4]:
df.shape

(178, 14)

In [5]:
df.head(3)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [6]:
df.describe()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [52]:
sess=tf.Session()
sess.run(tf.global_variables_initializer())

In [53]:
X=df[df.columns[1:13]].values
y=df["Wine"].values-1
Y = tf.one_hot(indices = y, depth=3, on_value = 1., off_value = 0., axis = 1 , name = "a").eval(session=sess)
X, Y = shuffle (X, Y)

In [54]:
from sklearn.preprocessing import StandardScaler

In [55]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [56]:
x = tf.placeholder(tf.float32, [None, 12]) 
W = tf.Variable(tf.zeros([12, 3])) 
b = tf.Variable(tf.zeros([3])) 
y = tf.nn.softmax(tf.matmul(x, W) + b)

In [57]:
y_ = tf.placeholder(tf.float32, [None, 3])

In [58]:
cross_entropy =-tf.reduce_sum(y_ * tf.log(y))

In [59]:
train = tf.train.GradientDescentOptimizer(0.1).minimize(cross_entropy)

In [60]:
X,Y =shuffle (X, Y, random_state=1)

In [61]:
Xtr=X[0:140,:] 
Ytr=Y[0:140,:]

In [62]:
Xt=X[140:178,:] 
Yt=Y[140:178,:]

In [63]:
Xtr, Ytr = shuffle (Xtr, Ytr, random_state=0)

In [74]:
sess.run(tf.global_variables_initializer())

In [80]:
for _ in range(1000):
    batch_xs, batch_ys = Xtr , Ytr
    sess.run(train, feed_dict={x: batch_xs, y_: batch_ys})

In [81]:
correct_prediction = tf.equal(tf.argmax(y, 1), tf.argmax(y_, 1))

In [83]:
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32)) 
print(sess.run(accuracy,feed_dict=({x: Xt, y_: Yt})))

0.94736844